<p id="notice"><%= notice %></p>

<h1>PackageClients</h1>

<table>
  <thead>
    <tr>
      <th> Client ID </th>
      <th> Package ID </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @package_clients.each do |package_client| %>
      <tr>
        <td><%= package_client.client_id %></td>
        <td><%= package_client.package_id %></td>
        <td><%= link_to 'Show', package_client %></td>
        <td><%= link_to 'Edit', edit_package_client_path(package_client) %></td>
        <td><%= link_to 'Destroy', package_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New PackageClient', new_package_client_path %>
