<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @package_client.client %>
</p>

<%= link_to 'Edit', edit_package_client_path(@package_client) %> |
<%= link_to 'Back', package_clients_path %>
