<%- model_class = Message -%>
<div class="page-header">
  <h1>Mensagens</h1>
</div>

<%= search_form_for @q do |f| %>
  <%= f.search_field :email_cont, :placeholder => "Nome" %>
  <%= f.submit "Procurar" %>
<% end %>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:telephone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.id, message_path(message) %></td>
        <td><%= message.name %></td>
        <td><%= message.description %></td>
        <td><%= message.address %></td>
        <td><%= message.telephone %></td>
        <td><%= message.email %></td>
        <td><%=l message.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      message_path(message), :class => 'btn btn-default btn-xs' %>
          <% if policy(message).edit? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_message_path(message), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      message_path(message),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(@messages).create? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_message_path,
            :class => 'btn btn-primary' %>
<% end %>
