<%= form_with(model: package_payment, local: true) do |form| %>
  <% if package_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(package_payment.errors.count, "error") %> prohibited this package_payment from being saved:</h2>

      <ul>
      <% package_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :package_payment_code %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :package_payment_date %>
  </div>

  <div class="field">
    <%= form.label :package_id %>
    <%= form.text_field :package_id, id: :package_payment_package_id %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.number_field :transaction_type, id: :package_payment_transaction_type %>
  </div>

  <div class="field">
    <%= form.label :transaction_status %>
    <%= form.number_field :transaction_status, id: :package_payment_transaction_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
