<p id="notice"><%= notice %></p>

<h1>Package Payments</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Date</th>
      <th>Package</th>
      <th>Transaction type</th>
      <th>Transaction status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @package_payments.each do |package_payment| %>
      <tr>
        <td><%= package_payment.code %></td>
        <td><%= package_payment.date %></td>
        <td><%= package_payment.package %></td>
        <td><%= package_payment.transaction_type %></td>
        <td><%= package_payment.transaction_status %></td>
        <td><%= link_to 'Show', package_payment %></td>
        <td><%= link_to 'Edit', edit_package_payment_path(package_payment) %></td>
        <td><%= link_to 'Destroy', package_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Package Payment', new_package_payment_path %>
