<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @package_payment.code %>
</p>

<p>
  <strong>Date:</strong>
  <%= @package_payment.date %>
</p>

<p>
  <strong>Package:</strong>
  <%= @package_payment.package %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @package_payment.transaction_type %>
</p>

<p>
  <strong>Transaction status:</strong>
  <%= @package_payment.transaction_status %>
</p>

<%= link_to 'Edit', edit_package_payment_path(@package_payment) %> |
<%= link_to 'Back', package_payments_path %>
