<h2> Editar Minha Conta <%= resource_name.to_s.humanize %> </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <% if !devise_error_messages!.empty? %>
    <div class="alert alert-danger" role="alert"> 
      <%= devise_error_messages! %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if current_user.client? %>
    <div class="form-group">
      <%= f.label :curriculum %><br>
      <% if resource.curriculum? %>
        <%= image_tag(resource.curriculum_url) %>
      <% end %>
      <%= f.file_field :curriculum %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :current_password %> <i> (we need your current password to confirm your changes) leave blank if you don't want to change it) </i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    
  </div>

  <div class="form-group">
    <%= f.label :password, "Nova senha" %> <i> (leave blank if you don't want to change it) </i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em> <%= @minimum_password_length %> characters minimum </em>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar", :class => 'btn btn-primary' %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Unhappy? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %></p>

<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              panel_index_path, :class => 'btn btn-default'  %>