<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center;">
      <h1> Sistema de Recursos Humanos </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Faça seu cadastro <%= link_to "Voltar", root_path, class: "btn btn-default"%></h3>
        </div>
        <div class="panel-body">
          <div class="authform">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :kind %>
    <%= f.select :kind, options_for_select([["Cliente", "client"], ["Empresa", "company"],["Psicólogo", "psychologist"]]),{}, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :time_zone %>
    <%= f.time_zone_select(:time_zone, nil, default: "Brasilia" ) %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <%= f.submit "Cadastrar", class: "btn btn-lg btn-success btn-block" %>
<% end %>
