<% if @interview.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @interview.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<%= form_for @interview, html: { class: 'form-horizontal interview' } do |f| %>

  <% # TODO: generate it automagicly %>
  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:video) %>
  <div class="form-group">
    <%= f.label :video, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :video, class: 'form-control' %>
    </div>
    <%=f.error_span(:video) %>
  </div>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:description) %>
  <div class="form-group">
    <%= f.label :description, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:score) %>
  <div class="form-group">
    <%= f.label :score, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :score, class: 'form-control' %>
    </div>
    <%=f.error_span(:score) %>
  </div>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:date) %>
  <div class="form-group">
    <%= f.label 'Data', class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <input class="form-control datepicker" type="text" name="interview[date]" id="interview_date"  value="<%= format_date(@interview.start_time) || @date %>">
    </div>
    <%=f.error_span(:date) %>
  </div>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:start_time) %>
  <div class="form-group">
    <%= f.label :start_time, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <input class="form-control timepicker start_time" type="text" name="interview[start_time]" id="interview_start_time"  value="<%= format_time(@interview.start_time) %>">
    </div>
    <%=f.error_span(:start_time) %>
  </div>
  <script>
    $('.timepicker.start_time').pickatime({
      format: 'HH:i',
      formatLabel: 'HH:i',
      formatSubmit: 'HH:i',
      interval: 30,
      hiddenSuffix: '',
      min: [<%= @interview.psychologist.interview_start_period.strftime('%H,%M') %>],
      max: [<%= @interview.psychologist.interview_end_period.strftime('%H,%M') %>],
      <% unless @scheduled_interviews.nil? %>
      disable: [
        <% @scheduled_interviews.each do |interview| %>
          [<%= interview.start_time.strftime('%H,%M') %>],
        <% end %>
      ]
      <% end %>
    })
  </script>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:end_time) %>
  <div class="form-group">
    <%= f.label :end_time, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <input class="form-control timepicker end_time" type="text" name="interview[end_time]" id="interview_end_time"  value="<%= format_time(@interview.end_time) %>">
    </div>
    <%=f.error_span(:end_time) %>
  </div>
  <script>
    $('.timepicker.end_time').pickatime({
      format: 'HH:i',
      formatLabel: 'HH:i',
      formatSubmit: 'HH:i',
      interval: 30,
      hiddenSuffix: '',
      min: [<%= @interview.psychologist.interview_start_period.strftime('%H,%M') %>],
      max: [<%= @interview.psychologist.interview_end_period.strftime('%H,%M') %>],
      <% unless @scheduled_interviews.nil? %>
      disable: [
        <% @scheduled_interviews.each do |interview| %>
          [<%= interview.end_time.strftime('%H,%M') %>],
        <% end %>
      ]
      <% end %>
    })
  </script>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:package_id) %>
  <div class="form-group">
    <%= f.label :package, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :package_id, Package.all, :id, :description, { disabled: true, class: 'form-control' } %>
    </div>
    <%=f.error_span(:package) %>
  </div>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:psychologist_id) %>
  <div class="form-group">
    <%= f.label :psychologist, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :psychologist_id, @interview.package.psychologists, :id, :name, { include_blank: true, class: 'form-control' } %>
    </div>
    <%=f.error_span(:psychologist) %>
  </div>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:client_id) %>
  <div class="form-group">
    <%= f.label :client, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :client_id, @interview.package.clients, :id, :cpf, { include_blank: true, class: 'form-control' } %>
    </div>
    <%=f.error_span(:client) %>
  </div>
  <% end %>

  <% if @permitted_attributes.nil? || @permitted_attributes.include?(:status) %>
  <div class="form-group">
    <%= f.label :status, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :status, Interview.statuses.keys.map { |s| [enum_i18n(Interview, :status, s), s] }, class: 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Cadastrar", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
