<h2>Agenda de Entrevistas</h2>
<%= month_calendar events: @interviews do |date, interviews| %>
  <%= "<b><i>#{date.day}</i></b>".html_safe %>

  <% interviews.each do |interview| %>
    <% next if interview.psychologist.nil? || interview.end_time.nil? %>
    <%
      event_color =  case interview.status
                        when 'scheduled'
                          'alert-success'
                        else
                          'alert-warning'
      end
    %>
    <a href="<%= current_user.client? ? interview_path(interview) : edit_interview_path(interview) %>"><div class="alert <%= event_color %> text-center">
      <%= "<b>#{interview.start_time.strftime('%H:%M')} - #{interview.end_time.strftime('%H:%M')}</b>".html_safe %>
      <div class="text-justify">
        <% package_text = current_user.company? ? interview.package.description : interview.package.company %>
        <%= "<div data-toggle=\"tooltip\" data-placement=\"top\" title=\"#{interview.package.description}\"><i class=\"fa fa-building\"></i> #{interview.package.company}</div>".html_safe unless current_user.company? %>
        <%= "<div><i class=\"fa fa-graduation-cap\"></i> #{interview.psychologist || 'Nenhum'}</div>".html_safe unless current_user.psychologist? %>
        <%= "<div><i class=\"fa fa-users\"></i> #{interview.client || 'Nenhum'}</div>".html_safe unless current_user.client? %>
      </div>
    </div></a>
  <% end %>
<% end %>

<br/>

<ul class="list-group"><h3>Entrevistas não agendadas</h3>
  <%= "<p>Nenhuma entrevista não agendada :)</p>".html_safe if @missing.blank? %>
  <% @missing.each do |interview_package| %>
    <li class="list-group-item">
      <%= "<i class=\"fa fa-building\"></i> #{interview_package.first.company.name} | <i class=\"fa fa-id-card\"></i> #{interview_package.first.description} <span class=\"badge\">#{interview_package.last}</span>".html_safe %>
    </li>
  <% end %>
<ul>
