<%- model_class = Interview -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for @q do |f| %>
  <%= f.search_field :description_cont, placeholder: 'Descrição' %>
  <%= f.submit 'Procurar' %>
<% end %>

<br>

<%
  permitted_attributes = {
    video: nil,
    description: ['psychologist', 'company', 'administrator'],
    score: ['psychologist', 'company', 'administrator'],
    start_time: ['psychologist', 'company', 'administrator'],
    end_time: ['psychologist', 'company', 'administrator'],
    package: ['psychologist', 'company', 'administrator'],
    psychologist: ['company', 'administrator'],
    client: ['psychologist', 'company', 'administrator']
  }
%>

<table class="table table-striped">
  <thead>
    <tr>
      <% permitted_attributes.each do |at, kinds| %>
        <% if kinds.nil? || kinds.include?(current_user.kind) %>
          <th><%= model_class.human_attribute_name(at) %></th>
        <% end %>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.order(start_time: :desc).each do |interview| %>
      <tr>
        <% permitted_attributes.each do |at, kinds| %>
          <% if kinds.nil? || kinds.include?(current_user.kind) %>
            <% value = interview.public_send(at) %>
            <td><%= value.is_a?(DateTime) ? value.to_formatted_s(:long) : value.to_s %></td>
          <% end %>
        <% end %>
        <td>
          <% if policy(interview).show? %>
          <%= link_to t('.show', default: t("helpers.links.show")),
                      interview_path(interview), class: 'btn btn-default btn-xs' %>
          <% end %>
          <% if policy(interview).edit? %>
            <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_interview_path(interview), class: 'btn btn-default btn-xs' %>
          <% end %>
          <% if policy(interview).destroy? %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                      interview_path(interview),
                      method: :delete,
                      data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                      class: 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@interviews).new? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_interview_path,
            :class => 'btn btn-primary' %>
<% end %>
