<h2>Agendar Entrevistas</h2>

<% if @interviews.blank? %>
  <p>Nenhuma entrevista disponível para agendamento.</p>
<% end %>

<%= month_calendar do |date| %>
  <%= "<b><i>#{date.day}</i></b>".html_safe %>
  <% next if date < Date.today %>
  <% next if date.saturday? || date.sunday? %>

  <% @interviews.each do |interview| %>
    <a href="<%= edit_interview_path(id: interview.id, date: date.strftime('%d/%m/%Y')) %>"><div class="alert alert-warning text-center">
      <%= "<b>#{interview.psychologist.interview_start_period.strftime('%H:%M')} - #{interview.psychologist.interview_end_period.strftime('%H:%M')}</b>".html_safe %>
      <%= "<div><i class=\"fa fa-building\"></i> #{interview.package.company}</div>".html_safe %>
    </div></a>
  <% end %>
<% end unless @interviews.blank? %>
