<%- model_class = Interview -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <%
    attributes = [:video, :description, :score, :start_time, :end_time, :package, :psychologist, :client]
    permitted_attributes = policy(@interview).permitted_attributes_for_show
  %>

  <% attributes.each do |att| %>
    <% if permitted_attributes.include?(att) %>
      <dt><strong><%= model_class.human_attribute_name(att) %>:</strong></dt>
      <dd><%= format_output(@interview.public_send(att)) %></dd>
    <% end %>
  <% end %>

  <% if permitted_attributes.include?(:status) %>
    <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
    <dd><%= enum_i18n(Interview, :status, @interview.status) %></dd>
  <% end %>
</dl>

<% if policy(@interview).edit? %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_interview_path, :class => 'btn btn-default'  %>
<% end %>

<% if policy(@interview).index? %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
              interviews_path, :class => 'btn btn-default'  %>
<% else %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
              panel_index_path, :class => 'btn btn-default'  %>
<% end %>
