<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div><!-- /.col-lg-12 -->
</div>
            <!-- /.row -->
            <% if params[:if].present?%>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @count_user%></div>
                                    <div>Usuários</div>
                                </div>
                            </div>
                        </div>
                        <%=

                        link_to users_path do %>
                            <div class="panel-footer">
                                <span class="pull-left">Mais detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-handshake-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @count_service%></div>
                                    <div>Serviços</div>
                                </div>
                            </div>
                        </div>
                        <%= link_to services_path do %>
                            <div class="panel-footer">
                                <span class="pull-left">Mais detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @count_comment %></div>
                                    <div>Comentários</div>
                                </div>
                            </div>
                        </div>
                        <%= link_to comments_path do %>
                            <div class="panel-footer">
                                <span class="pull-left">Mais detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        <% end end %>
                    </div>
                </div>

            </div>
<!-- /.row -->
