<div class="form-group">
  <%= f.label (label || field), class: (label_class || 'control-label col-lg-2') %>
  <div class="col-lg-10">
    <%= f.public_send(field_type || :text_field, field, class: (label_class || 'form-control')) %>
  </div>
  <%=f.error_span(field) %>
</div>
