<%= form_for @package, :html => { :class => "form-horizontal package" } do |f| %>

  <% if @package.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@package.errors.count, "error") %> prohibited this package from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @package.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :package_type_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:package_type_id, PackageType.all, :id, :interview_counter, {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:package_type_id) %>
  </div>

  <div class="form-group">
    <%= f.label :package_client, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <select id="cpf-tags" multiple data-role="tagsinput">
        <% @package.package_clients.each do |pc| %>
          <option value="<%= pc.client.cpf %>"><%= pc.client.cpf %></option>
        <% end %>
      </select>
    </div>
    <%=f.error_span(:package_client) %>
  </div>

  <input type="hidden" id="psychologist_id" name="package[package_psychologists_attributes][1][psychologist_id]" value="<%= @package.package_psychologists.first.try(:psychologist_id) || @psychologist.id %>" />
  <input type="hidden" id="psychologist_id" name="package[package_psychologists_attributes][1][id]" value="<%= @package.package_psychologists.first.try(:id) || '' %>" />

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Cadastrar", :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
