<!--
<li class="control-group nested-fields">

  <div class="controls">
    <%#= f.label "Candidato" %><br>
    <%#= f.collection_select(:cpf_id, Cpf.all, :id, :cpf, {}, class: 'form-control') %>
  </div>

  <div class="controls">
    <%#= link_to_remove_association "Remover", f %>
  </div>

</li> -->
