<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label "Psicólogo" %><br>
    <%= f.collection_select(:psychologist_id, Psychologist.all, :id, :crp, {}, class: 'form-control') %>
  </div>

  <div class="controls">
    <%= link_to_remove_association "Remover", f %>
  </div>
</li>
