
<%- model_class = Package -%>
<div class="page-header">
  <h1>Pacotes</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:package_type_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:payment) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @packages.each do |package| %>
      <tr>
        <td><%= link_to package.id, package_path(package) %></td>
        <td><%= package.description %></td>
        <td><%= package.package_type.name %></td>
        <td><%= package.created_at %></td>
        <td><%= enum_i18n(Package, :payment, package.payment) %></td>
        <td>
          <% if current_user.company? && package.payment == 'blank' %>
            <a href="<%= checkout_package_path(package) %>" class="btn btn-success btn-xs">
              <span class="fa fa-shopping-cart" aria-hidden="true"></span> Pagar
            </a>
          <% end %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      package_path(package), :class => 'btn btn-default btn-xs' %>
          <% if policy(package).edit? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_package_path(package), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      package_path(package),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(Package).create? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_package_path,
            :class => 'btn btn-primary' %>
<% end %>
