<%- model_class = Package -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @package.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @package.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:package_type) %>:</strong></dt>
  <dd><%= @package.package_type.name %></dd>
  <% if current_user.administrator? %>
    <% company = User.find_by_id(@package.company_id) %>
    <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
    <dd><%= company.email %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @package.created_at %></dd>
  <dt><strong><%= PackagePsychologist.human_attribute_name(:psychologists) %>:</strong></dt>
  <dd>
    <% @package.package_psychologists.each do |pp| %>
      <%= "#{pp.psychologist.name} (#{pp.psychologist.crp})" %><br>
    <% end %>
  </dd>
  <dt><strong><%= Client.human_attribute_name(:clients) %>:</strong></dt>
  <dd>
    <% @package.package_clients.each do |pp| %>
      <%= pp.client %><br>
    <% end %>
  </dd>
  <dt><%= model_class.human_attribute_name(:payment) %></dt>
  <dd><%= enum_i18n(Package, :payment, @package.payment) %></dd>
</dl>
<br>

<% if current_user.company? && @package.payment == 'blank' %>
  <a href="<%= checkout_package_path(@package) %>" class="btn btn-success btn-lg">
    <span class="fa fa-shopping-cart" aria-hidden="true"></span> Comprar pacote
  </a>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              packages_path, :class => 'btn btn-default'  %>
