<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for @q do |f| %>

  <%= f.search_field :name_cont, :placeholder => "Nome" %>

  <%= f.submit "Procurar" %>

<% end %>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.id, client_path(client) %></td>
        <td><%= client.name %></td>
        <% user_client = User.find_by_id(client.user_id) %>
        <td><%= user_client.email %></td>
        <td><%= client.cpf %></td>
        <td><%= client.user_id %></td>
        <td><%=l client.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      client_path(client), :class => 'btn btn-default btn-xs' %>
          <% if policy(client).edit? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_client_path(client), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      client_path(client),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(@clients).new? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_client_path,
              :class => 'btn btn-primary' %>
<% end %>
