<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @client.name %></dd>
  <% user_client = User.find_by_id(@client.user_id) %>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= user_client.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cpf) %>:</strong></dt>
  <dd><%= CPF.new(@client.cpf).formatted %></dd>

</dl>

<% if current_user.administrator? %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              clients_path, :class => 'btn btn-default'  %>
<% else %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              panel_index_path, :class => 'btn btn-default'  %>
<% end %>
