<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bem Vindo a Interview</div>
                <div class="intro-lead-in">“Somos uma startup de recrutamento e seleção, através da tecnologia conseguimos alinhar qualidade, simplicidade e comodidade.“</div>
                <!-- <a href="#services" class="page-scroll btn btn-xl">Nossos serviços</a> -->
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos Serviços</h2>
                    <h3 class="section-subheading text-muted">O que podemos oferecer?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Entrevistas por Vídeo Conferência</h4>
                    <p class="text-muted">Equipe de psicólogos realiza entrevistas através de vídeo conferencias, as quais são gravadas e upadas no nosso site.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teste Vocacional</h4>
                    <p class="text-muted"> Através de vídeo conferencia com nossos psicólogos, vamos analisar suas vocações, pontos fortes e fraco, ajudando a administrá-los e a aperfeiçoa-los. Você ganha um apoio para melhorar, ou criar seu currículo. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-address-card fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> Vídeo Promo </h4>
                    <p class="text-muted"> Através de vídeo o candidato responde a um formulário de perguntas e também conta suas experiencias, esse vídeo fica disponível para que as companies possam assistir e caso queiram possam realizar entrevistas com o candidato.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Benefícios</h2>
                    <h3 class="section-subheading text-muted">Mais Detalhes</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <p class="text-muted">Teste Vocacional</p>
                        <ul class="list-group">
                            <li class="list-group-item"> Sem sair de casa. </li>
                            <li class="list-group-item"> Profissionais qualificados .</li>
                            <li class="list-group-item"> Disponível download do teste.</li>
                            <li class="list-group-item"> Redução de custos. </li>
                            <li class="list-group-item"> Ótima para conhecimento profissional e pessoal.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <p class="text-muted">Entrevistas</p>
                        <ul class="list-group">
                            <li class="list-group-item"> Profissionais qualificados.</li>
                            <li class="list-group-item"> Entrevistas disponíveis após 3 dias.</li>
                            <li class="list-group-item"> Nenhuma alteração nas entrevistas.</li>
                            <li class="list-group-item"> Redução de custos. </li>
                            <li class="list-group-item"> Formulários montados para entrevistas a partir do briefing encaminhado. </li>
                            <li class="list-group-item"> Contratante pode selecionar candidatos para uma próxima etapa. </li>
                            <li class="list-group-item"> Candidato mais à vontade. </li>
                            <li class="list-group-item"> Sem marcar horário e o candidato não aparecer. </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <p class="text-muted">Vídeo Promo</p>
                        <ul class="list-group">
                            <li class="list-group-item"> Não há necessidade de locomoção. </li>
                            <li class="list-group-item"> Visualização de diversas companies sem a necessidade de encaminhar currículos. </li>
                            <li class="list-group-item"> Menos pressão ou nervosismo. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quem Somos?</h2>
                    <h3 class="section-subheading text-muted">“Somos uma startup de recrutamento e seleção, através da tecnologia conseguimos alinhar qualidade, simplicidade e comodidade. “</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <% c = Contact.first %>
                        <% if c!=nil %>
                            <li>
                                <div class="timeline-image">
                                    <% if c.figure? %>
                                        <%= image_tag(c.figure.pic.url, :class => "img-circle img-responsive") %>
                                    <% else %>
                                        <img class="img-circle img-responsive" src="<%= asset_path('home/about/1.jpg') %>" alt="">
                                    <% end %>
                                </div>

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="subheading">Tudo para você!</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted"> <%= c.description %> </p>
                                    </div>
                                </div>
                            </li>
                        <% else %>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="<%= asset_path('home/about/1.jpg') %>" alt="">
                                </div>

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="subheading">Tudo para você!</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Cadastre o Sobre</p>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Time de Desenvolvimento</h2>
                    <h3 class="section-subheading text-muted">Profissionais que desenvolveram o site.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= asset_path('home/team/2.jpg') %>" class="img-responsive img-circle" alt="" height="216" width="224" >
                        <h4> XXXXX </h4>
                        <p class="text-muted">Designer and Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= asset_path('home/team/2.jpg') %>" class="img-responsive img-circle" alt="" height="216" width="224" >
                        <h4> XXXXX </h4>
                        <p class="text-muted">Designer and Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"> Responsabilidade. Qualidade. Compromisso. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contato</h2>
                    <h3 class="section-subheading text-muted">Envie sua message para nossa administração.</h3>
                     <%= bootstrap_flash %>
                </div>
            </div>

            <% message = Message.new %>

            <%= form_for(message) do |f| %>

                <div class="row">
                    <div class="col-lg-12">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <%= f.text_field :name, :class => "form-control", :placeholder => "Nome" %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.text_field :telephone, :class => "form-control", :placeholder => "Telefone" %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.text_field :address, :class => "form-control", :placeholder => "Endereço" %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.text_field :email, :class => "form-control", :placeholder => "E-mail" %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.text_area :description, :class => "form-control", :placeholder => "Mensagem" %>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            <% end %>

        </div>
    </section>
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="<%= asset_path('home/portfolio/roundicons-free.png') %>" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Heading</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="<%= asset_path('home/portfolio/startup-framework-preview.png') %>" alt="">
                                <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="<%= asset_path('home/portfolio/treehouse-preview.png') %>" alt="">
                                <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="<%= asset_path('home/portfolio/golden-preview.png') %>" alt="">
                                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="<%= asset_path('home/portfolio/escape-preview.png') %>" alt="">
                                <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="<%= asset_path('home/portfolio/dreams-preview.png') %>" alt="">
                                <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
