<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @contact.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:figure) %>:</strong></dt>
  <dd><%= image_tag(@contact.figure.pic.url) if @contact.figure? %></dd>
  
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              contacts_path, :class => 'btn btn-default'  %>