<%- model_class = Company -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @company.name %></dd>
  <% user_company = User.find_by_id(@company.user_id) %>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= user_company.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:agent) %>:</strong></dt>
  <dd><%= @company.agent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cnpj) %>:</strong></dt>
  <dd><%= @company.cnpj %></dd>
 
</dl>

<% if current_user.administrator? %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
	              companies_path, :class => 'btn btn-default'  %>
<% else %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
	              panel_index_path, :class => 'btn btn-default'  %>
<% end %>