<div class="simple-calendar">
  <div class="text-center">
    <nav class="calendar-heading" aria-label="Calendário de Consultas - <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>">
      <ul class="pagination">
        <li>
          <%= link_to calendar.url_for_previous_view do %>
            <span aria-hidden="true"><%= t('simple_calendar.previous', default: 'Previous') %></span>
          <% end %>
        </li>
        <li><span class="calendar-title"><%= t('date.month_names')[start_date.month] %> / <%= start_date.year %></span></li>
        <li>
          <%= link_to calendar.url_for_next_view do %>
            <span aria-hidden="true"><%= t('simple_calendar.next', default: 'Next') %></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
