<div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4" style="text-align:center;">
                    <h1>Painel do sistema</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Faça seu Login <%= link_to "Voltar", root_path, class: "btn btn-default"%></h3>

                        </div>
<div class="panel-body">
  <div class="authform">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),format: :json) do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
          <label>
          <%= f.check_box :remember_me %>
          <%= f.label "Lembre-me" %>
        </label>
      </div>
      <% end -%>
      <%= f.submit "Entrar", class: "btn btn-lg btn-success btn-block" %>
       <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %>
   <% end %>
  </div>
</div>

<%= bootstrap_flash %>
</div>
                </div>
            </div>
        </div>
