<%= form_for(package_psychologist) do |f| %>
  <% if package_psychologist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(package_psychologist.errors.count, "error") %> prohibited this package_psychologist from being saved:</h2>

      <ul>
      <% package_psychologist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :psychologist_id %>
    <%= f.text_field :psychologist_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
