<h1>Editing PackagePsychologist</h1>

<%= render 'form', package_psychologist: @package_psychologist %>

<%= link_to 'Show', @package_psychologist %> |
<%= link_to 'Back', package_psychologists_path %>
