<p id="notice"><%= notice %></p>

<h1>PackagePsychologists</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Psychologist Name</th>
      <th>Package ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @package_psychologists.each do |package_psychologist| %>
      <tr>
        <td><%= package_psychologist.id %></td>
        <td><%= package_psychologist.psychologist.name %></td>
        <td><%= package_psychologist.package_id %></td>
        <td><%= link_to 'Show', package_psychologist %></td>
        <td><%= link_to 'Edit', edit_package_psychologist_path(package_psychologist) %></td>
        <td><%= link_to 'Destroy', package_psychologist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New PackagePsychologist', new_package_psychologist_path %>

