<p id="notice"><%= notice %></p>

<p>
  <strong>Psychologist:</strong>
  <%= @package_psychologist.psychologist %>
</p>

<%= link_to 'Edit', edit_package_psychologist_path(@package_psychologist) %> |
<%= link_to 'Back', package_psychologists_path %>
