<%= form_for @psychologist, :html => { :class => "form-horizontal psychologist" } do |f| %>

  <% if @psychologist.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@psychologist.errors.count, "error") %> prohibited this psychologist from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @psychologist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :crp, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :crp, :class => 'form-control' %>
    </div>
    <%=f.error_span(:crp) %>
  </div>
  <div class="form-group">
    <%= f.label :interview_start_period, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <input class="form-control timepicker interview_start_period" type="text" name="psychologist[interview_start_period]" id="interview_interview_start_period"  value="<%= format_time(@psychologist.interview_start_period) %>">
    </div>
    <%=f.error_span(:interview_start_period) %>
  </div>
  <div class="form-group">
    <%= f.label :interview_end_period, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <input class="form-control timepicker interview_end_period" type="text" name="psychologist[interview_end_period]" id="interview_interview_end_period"  value="<%= format_time(@psychologist.interview_end_period) %>">
    </div>
    <%=f.error_span(:interview_end_period) %>
  </div>

  <p>Cada consulta possue <%= @psychologist.interview_period %> minutos de duração.</p>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Cadastrar", :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
