<%- model_class = Psychologist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont, :placeholder => "Nome" %>
  <%= f.submit "Procurar" %>
<% end %>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:crp) %></th>
      <th><%= model_class.human_attribute_name(:interview_start_period) %></th>
      <th><%= model_class.human_attribute_name(:interview_end_period) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @psychologists.each do |psychologist| %>
      <tr>
        <td><%= link_to psychologist.id, psychologist_path(psychologist) %></td>
        <td><%= psychologist.name %></td>
        <td><%= psychologist.user.try(:email) %></td>
        <td><%= psychologist.crp %></td>
        <td><%= format_time(psychologist.interview_start_period) %></td>
        <td><%= format_time(psychologist.interview_end_period) %></td>
        <td><%= psychologist.user_id %></td>
        <td><%=l psychologist.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      psychologist_path(psychologist), :class => 'btn btn-default btn-xs' %>
          <% if policy(psychologist).edit? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_psychologist_path(psychologist), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      psychologist_path(psychologist),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(@psychologists).new? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_psychologist_path,
            :class => 'btn btn-primary' %>
<% end %>
