<%- model_class = Psychologist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @psychologist.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @psychologist.user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:crp) %>:</strong></dt>
  <dd><%= @psychologist.crp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interview_start_period) %>:</strong></dt>
  <dd><%= format_time(@psychologist.interview_start_period) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interview_end_period) %>:</strong></dt>
  <dd><%= format_time(@psychologist.interview_end_period) %></dd>

</dl>

<% if current_user.administrator? %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
              psychologists_path, :class => 'btn btn-default'  %>
<% else %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
              panel_index_path, :class => 'btn btn-default'  %>
<% end %>
