<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <%
          links = [
            [policy(:panel).index?, panel_index_path, 'Início', 'fa fa-line-chart'],
            [policy(:package_type).index?, package_types_path, 'Tipos de Pacote', 'fa fa-envelope-square'],
            [policy(:package).index?, packages_path, 'Pacote', 'fa fa-id-card'],
            [policy(:company).index?, companies_path, 'Empresas', 'fa fa-building'],
            [policy(:psychologist).index?, psychologists_path, 'Psicólogos', 'fa fa-graduation-cap'],
            [policy(:client).index?, clients_path, 'Clientes', 'fa fa-users'],
            [policy(:interview).index?, interviews_path, 'Entrevistas', 'fa fa-video-camera'],
            [policy(:interview).calendar?, calendar_interviews_path, 'Agenda', 'fa fa-calendar'],
            [policy(:interview).schedule?, schedule_interviews_path, 'Agendar Entrevistas', 'fa fa-calendar-plus-o'],
            [policy(:message).index?, messages_path, 'Mensagens', 'glyphicon glyphicon-envelope'],
            [policy(:contact).index?, contacts_path, 'Sobre', 'fa fa-pencil']
          ]
        %>
        <% links.each do |link| %>
          <% if link[0] %>
              <%= link_to(link[1]) do %>
                <i class="<%= link[3] %>"></i>&nbsp;<%= link[2] %>
              <% end %>
          <% end %>
        <% end %>
      </li>

      <!--<li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
              <li>
                  <a href="flot.html">Flot Charts</a>
              </li>
              <li>
                  <a href="morris.html">Morris.js Charts</a>
              </li>
          </ul>
      </li>-->
    </ul>
  </div>
</div>
