<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sistema de RH" %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div id="wrapper">
        <%= render 'layouts/header' %>

        <div id="page-wrapper">
          <div class="row">
            <br>
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
