<%= form_for @package_type, :html => { :class => "form-horizontal package_type" } do |f| %>

  <% if @package_type.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@package_type.errors.count, "error") %> prohibited this package_type from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @package_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :interview_counter, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :interview_counter, :class => 'form-control' %>
    </div>
    <%=f.error_span(:interview_counter) %>
  </div>

  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class="input-group">
        <div class="input-group-addon">R$</div>
        <%= f.text_field :price, :class => 'form-control' %>
        <div class="input-group-addon">,00</div>
      </div>
    </div>
    <%=f.error_span(:price) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Cadastrar", :class => 'btn btn-primary' %>
    </div>

  </div>

<% end %>
