<%- model_class = PackageType -%>
<div class="page-header">
  <h1>Tipos de Pacote</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:interview_counter) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @package_types.each do |package_type| %>
      <tr>
        <td><%= link_to package_type.id, package_type_path(package_type) %></td>
        <td><%= package_type.name %></td>
        <td><%= package_type.interview_counter %></td>
        <td><%=l package_type.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      package_type_path(package_type), :class => 'btn btn-default btn-xs' %>
          <% if policy(package_type).edit? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_package_type_path(package_type), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      package_type_path(package_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(@package_types).create? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_package_type_path,
            :class => 'btn btn-primary' %>
<% end %>
