
<%- model_class = PackageType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @package_type.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interview_counter) %>:</strong></dt>
  <dd><%= @package_type.interview_counter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= number_to_currency(@package_type.price, unit: "R$", separator: ",", delimiter: ".") %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              package_types_path, :class => 'btn btn-default'  %>
